{% extends 'layouts/base1.html' %}
{% load static %}
{% block javascripts %}


    
<script type="text/javascript">

	
</script>
  

  

  {% endblock %}
{% block content %}

<div class="flex flex-wrap -mx-px md:-mx-3 tabcontent rtyhff" id="pageWrapper" style="display: flex;margin-top: 100px;min-height: auto;    padding-bottom: 100px;">
	  {% for i in numbers %}
	  <a href="{% url 'accounts:upload-details' i.audio_id %}">

	  <div class="w-1/3 p-px md:px-3 gllery-item ldgllery-item  infinite-item" >
	  	            <article class="post bg-gray-100 text-white relative pb-full md:mb-6">
	  	            	  <img class="w-full h-full absolute left-0 top-0 object-unset" src="/assets/images/Apple-Music-Web-1.jpg" alt="image" width="{{ im.x }}" height ="{{ im.y }}">
	  	            	   <div class="overlay bg-gray-800 bg-opacity-25 w-full h-full absolute 
                                left-0 top-0 hidden">
                <div class="flex justify-center items-center 
                                    space-x-4 h-full">
                  <span class="p-2">
                    <i class="fas fa-heart"></i>
                    120K
                  </span>

                  <span class="p-2">
                    <i class="fas fa-comment"></i>
                    3,909
                  </span>
                </div>
              </div>
	  	            </article>
	  	             <a href="{% url 'accounts:upload-details' i.audio_id %}" class="custom-card--link mt-2">
                                <h6 style="overflow: hidden">{{i.title}}</h6>
                                <p></p>
                            </a>


	  </div>
	</a>
{% endfor %}
 {% if numbers.has_next %}
    <a class="infinite-more-link" href="?page={{ numbers.next_page_number }}"></a>
  {% endif %}



</div>


<!--
    <main id="pageWrapper" style="margin-top: 200px;">


       
        <div class="main-container  rtyhff">
           
               
              
            {% for i in numbers %}
             {% if forloop.counter|divisibleby:4 %}
              <div class="section">
                <div class="heading">
                    <div class="d-flex flex-wrap align-items-end">
                        <div class="flex-grow-1">
                            <h4>New Releases</h4>
                            <p>Listen recently release music</p>
                        </div>
                      
                    </div>
                    <hr>
                </div>
                <div class="carousel-item-5 arrow-pos-3">
                	
               
             {% else %}
              <div class="custom-card infinite-item">
                            <div class="custom-card--img">
                                <div class="custom-card--info">
                                    <ul class="custom-card--labels d-flex">
                                        <li>
                                            <span class="badge badge-pill badge-warning add_play_list_l" style="background-color: transparent;" name="{{ song.pk }}"  {% if song.status_x != "False" %} status = "song"{% else %}status = "song_res"{% endif %}>
                                                 <use href="#Capa_1fff_plus" style="width: 20px;height: 20px;">
 <svg version="1.1" id="Capa_1fff_plus" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 426.667 426.667" style="enable-background:new 0 0 426.667 426.667;fill: white" xml:space="preserve">
<g>
    <g>
        <g>
            <rect x="0" y="64" width="256" height="42.667"/>
            <rect x="0" y="149.333" width="256" height="42.667"/>
            <rect x="0" y="234.667" width="170.667" height="42.667"/>
            <polygon points="341.333,234.667 341.333,149.333 298.667,149.333 298.667,234.667 213.333,234.667 213.333,277.333 
                298.667,277.333 298.667,362.667 341.333,362.667 341.333,277.333 426.667,277.333 426.667,234.667             "/>
        </g>
    </g>
</g>



</svg>
</use>
                                            </span>
                                        </li>
                                    </ul>
                                    <div class="dropdown dropdown-icon">
                                        <a href="javascript:void(0);" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="ion-md-more"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li class="dropdown-item">
                                                <a href="javascript:void(0);" class="dropdown-link favorite">
                                                    <i class="la la-heart-o" style="color: black"></i>
                                                </a>
                                            </li>
                                            <li class="dropdown-item">
                                                <a href="javascript:void(0);" class="dropdown-link">
                                                    <i class="la la-plus" style="color: black"></i>
                                                </a>
                                            </li>
                                            <li class="dropdown-item">
                                                <a href="javascript:void(0);" class="dropdown-link">
                                                    <i class="la la-download" style="color: black"></i>
                                                </a>
                                            </li>
                                            <li class="dropdown-item">
                                                <a href="javascript:void(0);" class="dropdown-link">
                                                    <i class="la la-share-alt" style="color: black"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                               
                                <a href="javascript:void(0);"
                                   data-audio='{"name": "{{ song.title }}", "artist": "Arebica Luna", "album": "Mummy", "url": "{{ song.song.url }}", "cover_art_url": "/assets/images/Apple-Music-Web-1.jpg"}'>
                                    <img src="/assets/images/Apple-Music-Web-1.jpg" alt=""
                                         style="height: 180px; width: 290px;object-fit: cover;"
                                         class="card-img--radius-lg">
                                </a>
                            </div>
                            <a href="" class="custom-card--link mt-2">
                                <h6 style="overflow: hidden">{{ i.title }}</h6>
                                <p></p>
                            </a>



                        </div>
             {% endif %}

             {% if forloop.counter|divisibleby:4 %}
              </div>
            </div>
                        </div>
              
             {% else %}
             {% endif %}




            
                    
                       

                       

               
          

             {% endfor %}
             
             {% if numbers.has_next %}
    <a class="infinite-more-link" href="?page={{ numbers.next_page_number }}"></a>
  {% endif %}
            



            
           
             
                   
              
            </div>

            </div>

        </div>
       
        {% include 'includes/footer.html' %}
    </main>-->

{% endblock %}